.info-create {
    position: fixed;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, rgb(143, 143, 143), rgb(66, 66, 66));
    border-radius: 10px;
    padding: 2px 7px 4px 7px;
    margin-right: 3px;
    margin-bottom: 4px;
}
.img-info-create {
    margin-left: 5px
}
.text-info-create {
    font-size: 12px;
}
/*---------------------------------------------------------------*/
.report-problem {
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius:12px 0 12px 0;
	background: #292929;
	border:none;
	color:#fff;
    font-size: 10px;
    font-weight: bold;
    padding:6px 5px 6px 5px;
    margin-left: 3px;
    margin-bottom: 4px;
    text-decoration: none;
}
.report-problem:hover {
    font-size: 11px;
    padding:7px 6px 7px 6px;
}
.report-problem:active {
    box-shadow: 1px 1px 10px rgb(255, 0, 0) inset, 0 1px 0 rgba(255, 0, 0, 0); 
    outline-style:none;
}
/*---------------------------------------------------------------*/
.title {
    font-size: 22px;
    margin-left: 7px;
}
.home {
    margin: 5px;
}
.img-homedir {
    padding-right: 8px;
}
.docker {
    margin: 5px;
}
.img-docker {
    padding-right: 8px; 
}
/*---------------------------------------------------------------*/
.title-docker {
    font-size: 22px;
    margin-left: 7px;
}
.DockerHub_Dockerfile_WebDav {
    margin: 5px;
}
.img-DockerHub_Dockerfile_WebDav {
    padding-right: 8px; 
}
/*---------------------------------------------------------------*/
.title-DockerHub_Dockerfile_WebDav {
   font-size: 22px; 
   margin-left: 7px;
}
/*---------------------------------*/
.installsh {
    margin: 5px;
    font-size: 17px;
}
.img-installsh {
    padding-right: 8px;
}
.bouton-download {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 15px;
    display: inline-block;
    font-size: 13px;
    margin-left: 50px;
    font-weight: bold;
    border-radius:4px;
}
.bouton-download:hover {
    background-color: #009933;
}
.bouton-download:active {
    box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba( 255, 255, 255, 0.4); 
    outline-style:none;
}
.bouton-download-link {
    background-color:#d34836;
    border:none;
    color:#fff;
    padding: 5px 10px;
    display: inline-block;
    font-size: 13px;
    margin-left: 15px;
    font-weight: bold;
	border-radius:20px;
}
.bouton-download-link:hover {
    background-color: rgb(190, 12, 12);
    cursor: pointer;
}
.bouton-download-link:active {
    box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba( 255, 255, 255, 0.4); 
    outline-style:none;
}
/*---------------------------------*/
/*---------------------------------------------------------------*/